@tailwind base;
@tailwind components;
@tailwind utilities;

.ts-heading {
    color: #8b6753;
    font-weight: 600;
}

.ts-paragraph {
    color: #8b6753;
    font-size: 17px;
}

.label-text,
.card {
    @apply text-[#8b6753]
}

.card-body :where(p) {
    @apply flex-grow-0
}

.table {
    @apply rounded-xl text-[#8b6753] border border-[#8b6753]
}


.loading {
    @apply text-[#8b6753] bg-transparent border-none font-semibold text-2xl
}

.modal-box {
    @apply rounded-3xl
}

@media screen and (min-width : 992px) and (max-width: 1200px) {
    .intro-img-top {
        right: -80px;
    }

    .intro-img-bottom {
        left: -80px;
    }
}

@media screen and (min-width : 1201px) and (max-width: 1536px) {
    .intro-img-top {
        right: -100px;
    }

    .intro-img-bottom {
        left: -100px;
    }
}